@font-face {
	font-family: "glyphicons-halflings-regular";
	src: url(../fonts/glyphicons-halflings-regular.ttf);
	font-weight: 800;
}

.container {
	font-family: "Century Schoolbook";
	font-size: 16px;
}

/* Button Voucher*/

#AddVoucher {
	float: right;
	padding: 10px;
	height: 25px;
}

#AddEmployee {
	float: right;
	padding: 10px;
	height: 25px;
	font-family: "glyphicons-halflings-regular";
}

.glyphicon-trash:hover {
	color: red;
	text-decoration: underline;
	background-color: transparent;
}

.glyphicon-pencil:hover {
	color: #3AE607;
	text-decoration: underline;
	background-color: transparent;
}

.btn-link:focus .btn-link .glyphicon .glyphicon-plus-sign:hover {
	color: lightgreen;
	text-decoration: underline;
	background-color: transparent;
}

/* Spring message*/

#Addmessage {
	padding-top: 10px;
}
/*Header*/

.nav .nav-tabs {
	background: dodgerblue;
}

.nav .nav-tabs a:hover {
	background: #bce8f1;
}

#spring-message {
	padding-top: 10px;
	font-size: 16px;
	height: 65px;
	color: #3AE607;
}

.form_box {
	width: 300px;
	margin: 40px auto;
}
.form_box label {
	font-size: 13px;
	font-weight: bold;
	color: #444444;
	display: block;
}
.form_box input {
	display: block;
	border: 2px solid #cfcfcf;
	font-size: 14px;
	color: #444444;
	padding: 7px 7px 8px;
	width: 250px;
	margin-bottom: 20px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.form_box input:focus {
	outline: none;
	border-color: #07a6e6;
}
.form_box .btn_submit {
	border: none;
	width: 180px;
	text-align: center;
	background: #07a6e6;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	height: 35px;
	line-height: 28px;
	padding: 0;
}
.form_box .btn_submit:hover {
	background: #009ac2;
}
.form_box .btn_submit:active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
.form_box .btn_submit.disabled,
.form_box .btn_submit.disabled:hover {
	background: #afdde6;
	cursor: default;
}

